<% provide(:title, 'Reviewers') %>
<h1>Folks who recommended the restaurants on this list:</h1>


<ul>

<li>Allyson, converted foodie who move to Atlanta from OK for college and never left</li>

<li>Garrity, world traveler who enjoys exploring Buford Hwy for good eats </li>

<li>Dave, Miami raised but firmly rooted in Atlanta and willing to try anything!</li>

<li>Alix, young but adventurous eater; developing world traveler</li>

<li>Hannah, likes checking out new places, even if she is not going to eat anything there </li>

<li>Sara, interested in different cuisines and game to try anything once!</li>

<li>Andy, interested in exploring various cultures through their menus</li>

<li>Bill, came for Georgia Tech and still here... enjoying finding interesting places to eat</li>
    
</ul>