  <section>
    <div class="container-fluid">
      <div class="jumbotron">

        <%= image_tag "food.jpg" %>
        <h1>Places We Like to Eat</h1>
          <p>some of our favorite places for interesting food in Atlanta</p>
      </div>
    </div>
  </section>
    
  <section = 'navigation'>  
    <div class="container-fluid">
      <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">

      <div class="collapse navbar-collapse navbar-menubuilder">
        <ul class="nav navbar-nav navbar-left">
          <li class= "active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a> </li>
          <li class= "active"><a href="/reviewer"><span class="glyphicon glyphicon-user"></span> Reviewers</a></li>
          <li class= "active"><a href="/about"><span class="glyphicon glyphicon-globe"></span> About</a></li>
          <li class= "active"><a href="/restaurants"><span class="glyphicon glyphicon-star"></span> Restaurants</a></li>          
        </ul>
      </div>

      </div>
    </div>
  </section>

  <section>
    

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
      <%= yield %>
      </div>
    </div>  
      <div class="col-md-2"></div>
  </section>